body {
    font-family: 'Abel', sans-serif;
    background: #f0f0f0;
}
.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.brand-name {font-size: 1.75em;}
nav a {
    font-size: .75em;
    color: black;
}
.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}
nav .nav-item {
    position: relative;
    bottom: 6px;
}


h1{
    text-align: center;
    font-family: 'Anton', sans-serif;
    margin: 1em 0;
}
h2{
    margin: 1em 0;
}

h3{
    text-align: center;
    font-family: 'Anton', sans-serif;
}
.container{
    display: flex;
    justify-self: center;
}
.circle-without-text {
    border-radius: 50%;
    width: 25vh;
    height: 25vh;
    background-color: #E6563B;
    position: relative;
    border: 10px solid white;
    margin: .5em auto;
}
.circle-without-text-orange {
    background-color: #DEA03D;
}
.circle-without-text-green {
    background-color: #7CB06C;
}
.circle-without-text-blue {
    background-color: #00ABA9;
}

.text-inside-circle {
    position: absolute;
    font-family: 'Anton', sans-serif;
    color: #f0f0f0;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.big{
    font-size: x-large;
}
.img{
    width: 80%;
    border: 5px solid #d7d6d6;
    margin: auto;
    display: flex;
    border-radius: 5px;
}
.work{
    justify-content: center;
    display: flex;
    margin-top: 8em;
}
.ft{
    width: 80%;
    margin: auto;
    display: flex;
    font-family: 'Barlow Condensed', sans-serif;
}
.circle-red {
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    background-color: #E6563B;
    position: relative;
    margin: .2em .3em;
}
.circle-orange {
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    background-color: #DEA03D;
    position: relative;
    margin: .2em .3em;
}.circle-green {
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
     background-color: #7CB06C;
    position: relative;
    margin: .2em .3em;
}
.circle-blue {
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    background-color: #00ABA9;
    position: relative;
    margin: .2em .3em;
}
.circle-text{
    position: absolute;
    font-family: 'Anton', sans-serif;
    color: black;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.small-circles{
    justify-self: flex-end;
    display: flex;
    width: 100%;
    /*flex:*/
}

#featuredProject{
    width: 50%;
}
.circlesSmall{
    position: relative;
    width: 100%;
}
span{
    display: block;
}
#image\ man{
    display: none;
}
#image\ security{
    display: none;
}
#image\ mackbook{
    display: none;
}
@media screen and (min-width: 576px) {
    .sub-title {
        text-align: left;
    }

    hr {
        width: 100%;
    }

    .brand-name {
        position: relative;
        bottom: 10px;
    }

    nav a {
        font-size: .75em;
        color: black;
    }

    .nav-background {
        position: absolute;
        margin: 0;
        padding: 0;
        height: 59px;
        width: 100%;
        top: 37px;
        z-index: -1000;
    }

    nav .nav-item {
        position: relative;
        bottom: 6px;
    }

    ul {
        display: flex;
        align-items: center;
        position: relative;
        bottom: 25px;

    }

    li:first-child {
        position: relative;
        top: 25px;
    }

    li:nth-child(2) {
        position: relative;
        right: 50px;
    }

    li:nth-child(3) {
        position: relative;
        left: 35px;
    }

    li:nth-child(4) {
        position: relative;
        left: 50px;
    }

    li:nth-child(5) {
        position: relative;
        right: 50px;
    }

    li:last-child {
        position: relative;
        right: 35px;
    }

    .work {
        justify-content: center;
        width: 80%;
        border-top: solid 2px #dbdbdb;
        padding: 2em;
        margin: 1em auto 0 auto;
    }

    .circle-without-text {
        border-radius: 50%;
        width: 18vh;
        height: 18vh;
        background-color: #E6563B;
        position: relative;
        border: 5px solid white;
        margin: auto;
    }

    .circle-without-text-orange {
        background-color: #DEA03D;
    }

    .circle-without-text-green {
        background-color: #7CB06C;
    }

    .circle-without-text-blue {
        background-color: #00ABA9;
    }
    .big{
        font-size: large;
    }
    .text-inside-circle {
        position: absolute;
        font-family: 'Anton', sans-serif;
        color: #f0f0f0;
        top: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    span{
        display: inline;
    }
    .circlesSmall{
        position: relative;
        left: 6.5em;
    }
    .img{
        width: 80%;
        border: 5px solid #d7d6d6;
        margin: auto;
        display: flex;
        border-radius: 5px;
    }
    #image\ man{
        display: revert;

    }
    #image\ security{
        display: revert;

    }
    #image\ mackbook{
        display: revert;
        w
    }
}


/*}@media screen and (min-width: 992px) {*/
/*    .sub-title {text-align: left;}*/
/*    hr {width: 100%;}*/
/*    .brand-name  {*/
/*        position: relative;*/
/*        top: 5px;*/
/*    }*/
/*}@media screen and (min-width: 992px) {*/
/*    .sub-title {text-align: left;}*/
/*    hr {width: 100%;}*/
/*    .brand-name  {*/
/*        position: relative;*/
/*        top: 5px;*/
/*    }*/
/*}@media screen and (min-width: 992px) {*/
/*    .sub-title {text-align: left;}*/
/*    hr {width: 100%;}*/
/*    .brand-name  {*/
/*        position: relative;*/
/*        top: 5px;*/
/*    }*/
/*}*/