body {
    font-family: 'Abel', sans-serif;
    background: #f0f0f0;
}
.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.brand-name {font-size: 1.75em;}
nav a {
    font-size: .75em;
    color: black;
}
.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}
nav .nav-item {
    position: relative;
    bottom: 6px;
}
@media screen and (min-width: 992px) {
    .sub-title {text-align: left;}
    hr {width: 100%;}
    .brand-name  {
        position: relative;
        top: 5px;
    }
}

h1{
    text-align: center;
    font-family: 'Anton', sans-serif;
    margin: 1em 0;
}
h2{
    margin: 1em 0;
}

h3{
    text-align: center;
    font-family: 'Anton', sans-serif;
}
.container{
    display: flex;
    justify-self: center;
}
.circle-without-text {
    border-radius: 50%;
    width: 25vh;
    height: 25vh;
    background-color: orangered;
    position: relative;
    border: 10px solid white;
    margin: .5em auto;
}
.circle-without-text-orange {
    background-color: orange;
}
.circle-without-text-green {
    background-color: #50a779;
}
.circle-without-text-blue {
    background-color: #34b0a1;
}

.text-inside-circle {
    position: absolute;
    font-family: 'Anton', sans-serif;
    color: #f0f0f0;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    width: 80%;
    border: 5px solid #d7d6d6;
    margin: auto;
    display: flex;
    border-radius: 5px;
}
.work{
    justify-content: center;
    display: flex;
    margin-top: 8em;
}
.ft{
    width: 80%;
    margin: auto;
    display: flex;
    font-family: 'Barlow Condensed', sans-serif;
}
.circle-red {
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    background-color: orangered;
    position: relative;
    margin: 0 .2em;
}
.circle-orange {
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    background-color: orange;
    position: relative;
    margin: 0 .2em;
}.circle-green {
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
     background-color: #50a779;
    position: relative;
    margin: 0 .2em;
}
.circle-blue {
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    background-color: #34b0a1;
    position: relative;
    margin: 0 .2em;
}
.circle-text{
    position: absolute;
    font-family: 'Anton', sans-serif;
    color: black;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.small-circles{
    display: flex;
    /*flex:*/
}
#mainFont>#font>h1{
    margin: 1em 0 -1em 0;
}
#mainFont>#font>h3{
    margin: 2.5em 0 2em 0;
}